img {
  width: 100%;
}

ul {
  list-style: none;
}

label {
  margin-right: 8px;
}

.dateInputDiv {
  background-color: rgb(252, 224, 228);
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.orderInputDiv {
  background-color: rgb(227, 251, 252);
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.orderRow {
  display: flex;
  align-items: center;
}

.illst {
  width: 200px;
  height: 50px;
  border: 1px solid blue;
}

.wd-50 {
  width: 50px;
}

.wd-100 {
  width: 100px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.itemContainer {
  max-height: 60vh;
  overflow-y: auto;
}
